root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_expression_bodied_methods = true:silent
csharp_style_expression_bodied_properties = true:silent
dotnet_style_readonly_field = true:warning
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:silent
dotnet_style_collection_initializer = true:silent
